.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.button_mail {
  background-color:#5a287d;
  color:white;
  width:100%;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-color:white;
  padding: 5px 0 20px;
  
}
.send_button{
  background-color:#5a287d;
  color:white;
  width:100%;
  border-color:white;
  align-self: center;
  margin-top: 40%;
  
}

.popup_button{
  background-color:#5a287d;
  color:white;
  width:100%;
  border-color:white;
  align-self: center;
  
}

.label_mail {
  background-color:#5a287d;
  color:white;
  width:5%;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-color:white;
  text-align: right;
  align-self: center;
  margin:7px
  
}

.compose_header {
  margin:10px;
  color:white;
  height: 150px;
  text-align: center;
}
.step_3 {
  padding: 20px;
  margin-left: 60px;
  background: rgb(90, 40, 125);
  color: white;
  text-align: left;
  align-self: center;
  margin-right: 100px;
  width:980px;
}

.soln {
  text-align: left;
  background-color: rgb(90, 40, 125);
  color: white;
  margin-top: 30px;
  /* margin: 30px; */
  /* padding: 10px; */
  width:1200px;
  align-self: center;  
}

.logo_border{
  border-bottom: #5a287d;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.logo_border1{
  border-bottom: #5a287d;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 65px;
  padding:10px;
  font-size: 30px;
  font-weight: bolder;
  color: #5a287d;
  
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 10%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(115vh - 80vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.popup-box-icon {
  position: fixed;
  /* background: #00000050; */
  top: 0;
  /* width: 100%;
  height: 100vh; */
  left: 0;
}

.box-icon {
  position: relative;
  margin: 0 auto;
  margin-top: calc(187vh - 80vh - 120px);
  margin-left: 89%;
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  /* overflow: auto; */
  width: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
